
        body{
            font-family: 'RobotoRegular';
            font-weight: normal;
            background: url(b.jpg) no-repeat center center;
            -moz-background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-position: fixed;
            color:#FFFFFF; 
        }
            div {
                background-color: rgba(69,69,69, 0.7); 
                padding: 25px; 
                margin: 0 auto;
                width: 65%;
                color: #FFFFFF;
            }
         A:link {
            color: #ff8c00; 
        }
         A:visited {
            color: #2f4f4f;
        }
         A:active {
            color: #000080;
        }
         A:hover {
            color: #ffbf00;
        }
        .img1 {
            float: left;
            max-width:  100%;
            max-height: 100%;
        }
        .horizontal-and-vertical-centering {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .truncate-text {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .constant-width-to-height-ratio {
            background: #333;
            width: 50%;
            padding-top: 50%;
        }
        .header{
            width: 65%;
            height: 55px;
            margin-bottom: 10px;
        }

        .Regular {
            font-family: RobotoRegular;
            font-weight: normal;
        }
 
        .Bold {
            font-family: RobotoBold;
            font-weight: normal;
        }
        .Light {
            font-family: RobotoLight;
            font-weight: normal;
        }
        .Medium {
            font-family: RobotoMedium;
            font-weight: normal;
        }

        .toc {
            width: 35%;
            padding: 0 20px;
            display: inline-block;
        }

